* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Libre Franklin", sans-serif;
}

.container {
  width: 800px;
  height: 600px;
  border: 1px solid #adadad;
  border-radius: 10px;
  margin: 3rem auto;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 119, 253);
  color: #fff;
  height: 100px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.my-header {
  font-size: 1.6rem;
  font-weight: 700;
}

.score-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: white;
}

.score-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.source-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.source-label {
  margin-right: 1ch;
}

.target-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
}

.answer-box {
  width: 100%;
  height: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.answer-field {
  width: 99.5%;
  height: 2rem;
  padding: 0;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius: 5px;
}

.flag-img {
  width: 100px;
}

#my-button {
  display: block;
  width: 200px;
  height: 2rem;
  background-color: rgb(47, 119, 253);
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

#my-button:hover {
  transform: scale(0.98);
  background-color: rgb(72, 135, 253);
}

.button-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#numberVocs {
  margin-left: 0.5rem;
}
